<!DOCTYPE html>
<html>
<head>
	<title>User Registration</title>
</head>
<body>
	<h1>User Registration</h1>
	<form action='/users' method='post'>
		Username: <input type="text" name="username"/><br/>
		Email: <input type="email" name="email"/><br/>
		Password: <input type="password" name="password"/><br/>
	</form>



</body>
</html>